extends ../layouts/default

block main
  h1= title

block content
  - if (titles.length)
    - each title in titles
      .title
        h3
          a(href='/titles/'+title._id) #{title.TitleName}

    - if (pages > 1)
      .pagination
        ul
          != createPagination(pages, page)
  - else
    p.muted No titles.&nbsp;
