extends ../layouts/default

block main
  h1= title.TitleName
  
  block content
  .row
    .column
      b Title ID
    .column
      p=title.TitleId
    .column
      b Release Year
    .column
      p=title.ReleaseYear
    .column
      b Type
    .column
      p=title.TitleType
